/**************************/
/* NEWS SECTION*/
/**************************/

.news {
  margin: 0 auto;
  padding: 0 9.8rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6.4rem 2.8rem;
}

/**************************/
/* HERO SECTION*/
/**************************/

.section-hero {
  grid-column: 1/3;
}

.hero {
  /* max-width: 13rem; */
}

.hero-img-box {
  padding-bottom: 3.2rem;
}

.hero-img {
  width: 100%;
}

.hero-text-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-text-box .heading-primary {
  display: inline-block;
  color: hsl(240, 100%, 5%);
  font-size: 5.2rem;
  font-weight: 800;
  line-height: 1.1;
  /* margin-right: 6.8rem; */
}

.hero-text-btn-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-description {
  line-height: 1.6;
}

.btn,
.btn:link,
.btn:visited {
  background-color: hsl(5, 85%, 63%);
  display: inline-block;
  text-transform: uppercase;
  color: hsl(36, 100%, 99%);
  letter-spacing: 4px;
  text-align: center;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 2px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: hsl(240, 100%, 5%);
}

/**************************/
/* HERO SECTION*/
/**************************/

.section-step {
  grid-column: 1/-1;
}
