/**************************/
/* BELOW 400px (Smaller tablets) */
/**************************/

@media (max-width: 25em) {
  html {
    font-size: 50% !important;
  }
  body {
    width: 100%;
  }

  main .news {
    padding: 0;
    margin: 0;
  }

  .news .grid {
    gap: 6.4rem 0;
  }

  .news .container {
    padding: 0 2.8rem;
  }

  .news .grid {
    grid-template-columns: 1fr;
  }

  .hero .hero-text-box {
    grid-template-columns: 1fr;
  }

  .hero-text-box .heading-primary {
    margin-bottom: 1.2rem;
  }

  .hero-text-btn-box .hero-description {
    font-size: 1.8rem;
    line-height: 1.7;
    margin-bottom: 3rem;
  }

  .section-step .step {
    flex-direction: column;
    gap: 3rem;
  }

  .step .step-box {
    gap: 3rem;
  }

  picture .hero-img {
    width: 100%;
    background-image: url("./images/image-web-3-mobile.jpg");
    background-size: cover;
  }

  section.section-new {
    padding: 3.6rem 2rem;
  }

  .section-new .new-news {
    height: 60rem;
  }
  .new-news .subheading {
    font-size: 5.2rem;
  }

  .new-text-box .heading-secondary {
    font-size: 2.4rem;
  }
  .new-text-box .new-text {
    font-size: 1.8rem;
  }

  .step-img-box .step-img {
    width: 14rem;
  }

  .step-text-box .step-number {
    font-size: 3.6rem;
    margin-bottom: 1.2rem;
  }

  .step-text-box .step-heading-link.heading-tertiary {
    font-size: 2rem;
  }

  .step-text-box .step-description {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  /* MOBILE NAVIGATION */
  header.header {
    padding: 4.8rem 2.8rem;
  }

  img.logo {
    height: 4.8rem;
  }

  a.main-nav-link:link,
  a.main-nav-link:visited {
    font-size: 3rem;
  }

  button.btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  nav.main-nav {
    background-color: rgba(255, 253, 250, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(20%);
  }

  .nav-open .icon-mobile-nav.icon-close {
    display: block;
  }

  .nav-open .icon-mobile-nav.icon-menu {
    display: none;
  }

  ul.main-nav-list {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3.6rem;
  }

  a.main-nav-link:link,
  a.main-nav-link:visited {
    font-size: 2.4rem;
  }
}
